*{
    margin: 0px;
    padding: 0px;
    font-family: 'Red Rose', cursive;
}
body{

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(3febbgimg.png) ;
    height: 1fr; 
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.logo{
    position: relative;
    float: left;
    margin: 20px;
}
.header{
    /* justify-content: center;
    align-items: center; */
    margin: 20px;
    display: flex;
}
.list{

    justify-content: center;
display: flex;
list-style: none;
color: orange;
}

li{
    font-size: 20px;
    margin: 40px 30px 0px 30px; 
   cursor: pointer;
}

#btn2{  
   width: 340px;
   height: 48px;
   font-size: 21px;
   margin-top: 55px;
}

button{
  cursor: pointer;
   background-color: #ff505f;
   color: white;
   border:none;
   border-radius: 8px;
}
.main h1{
    margin-top: 104px;
    width: 1000px;
 text-align: center;
    font-size: 105px;
color: #ffc233;
font-family: 'Dela Gothic One', cursive;
line-height: 105px;
font-style: none;
/* font-weight: ; */
}
main{
   
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
footer img{
 position: relative;
 float: right;
 margin-right: 10px;
}
.btn{
position: relative;
float:right;
bottom: 40px;
margin-right: 50px;

}
.btn1{
    font-size: 20px;
    width: 120px;
   height: 43px;
}